/* styles.css */

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.navbar-brand img {
    width: 100px;
    height: auto;
}

.navbar-brand:hover {
    background-color: transparent !important;
}



