/* styles.css */

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.navbar-brand img {
    width: 80px;
    height: auto;
    margin-left: 20px;
}

.navbar-brand:hover {
    background-color: transparent !important;
}

.navbar-nav a:hover {
    text-decoration: underline;
}

